//- Sidebar
aside#sidebar.hidden
    ul.list-group.list-group-flush
        each url in ['dashboard', 'song', 'topic', 'user', 'manager', 'singer', 'role', 'permission', 'general-setting']
            li.list-group-item
                a(href=prefixName + '/' + url)= url

//- Backdrop
div#sidebar-backdrop
